
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}


.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.invisible{
    display: none;
}

:root{
    /* # Colors! # */
    --background-color: #2B2D40;
    --clr-primary-main: #D392F6;
    --clr-primary-semidark: #5B4567;
    --clr-primary-dark: #0E112E;

    --clr-n1: #FF86C2;
    --clr-n2: #FFF193;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--background-color);

    font-family: "VT323", monospace;
    color: var(--clr-primary-dark);
}

h1{
    margin: 0;
}

h2{
    margin: 0;
    padding-left: 10px;

    background-color: rgb(199, 24, 120);
}
p{
    font-size: 20px;
}

.window{
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: var(--clr-primary-semidark);

    border-radius: 15px;
    border-style: solid;
    border-color: var(--clr-n2);

    .windowHeader{
        text-align: center;   
    }

    .contentHolder{    
        flex: 1; /*this makes the container take the remaining space of its parent*/

        background-color: var(--clr-primary-main);
    }

}



.windowLink{
    width: fit-content;
    margin: 0;

    display: inline-block;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    font-size: 20px;

    transition-duration: 300ms;
}
.windowLink:hover{
    font-size: 21px;
}



/*notebook*/
@media screen and (max-width: 1440px){
    body{
        margin-top: 50px;
    }

    .window{
        width: 46%;
        height: 500px;

        .windowHeader{
            height: 50px;
        }

        .contentHolder{
            padding:10px 20px 0 20px;
        }
    }
    

}